.rounded{
    border-radius: 25px;
    background: #00a3c4;
}
.sfondo{
    background-image: url("https://i.pinimg.com/originals/fb/ea/73/fbea73249070d75b1c64e53622b20c4f.jpg");
}
.titolo{
    font-size: 50px;
    position: relative;
    top: 2%;
    width: 100%;
    text-align: center;
    color: #025363;
}